.main_section {
    padding: 0 200px;
}

#main_section_top {
    border-bottom: solid #d9d9d9;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

#top_options {
    padding: 30px 0px 5px;
    
}

#top_options .options {
    align-self: flex-end;
    width: 250px;
}

#top_options .dropdown_container {
    display: flex;
    justify-content: space-between;
}

/* Top options NEW */

    /* Inputs */
    #top_options .input_row {
        display: flex;
        margin-bottom: 5px;
    }
    
    .input_row .input_label {
        width: 90px;
    }

    .input_row .input_area {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    .input_area .dropdown_top {
        width: 100%
    }

    .input_area .year_range .dropdown_top {
        width: 100%;
    }

    /* Region select */

    .region_boxes {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
    }
    
    .region_boxes .box {
        background-color: #d9d9d9;
        padding: 10px;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border-radius: 10px;
        transition: transform .2s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .region_boxes .select .box {
        background-color: #262626;
        color: white;
    }

    .region_boxes .select .box img {
        filter: invert();
    }

    .region_boxes .select {
        pointer-events: none;
    }

    .region_boxes img {
        height: 50px;
    }
    
    .region_boxes h5 {
        font-size: 80%;
        margin: 15px auto;
    }
    
    .region_boxes a {
    text-decoration: none;
    }
    
    .region_boxes a:link,
    .region_boxes a:visited {
    color: currentColor;
    }
    
    .box:hover {
        box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1.1);
    }
/* Bottom options  */

#bottom_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 120px;
}

.display_current {
    pointer-events: none;
    color: #518CFF
}

.display_other {
    color: black;
    text-decoration:none;
}

.display_other:hover {
    color: #518CFF;
    text-decoration: underline;
    font-weight: bold;
}

#bottom_options #display_by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

#bottom_options #sort_options {
    margin-left: 10px;
}

#display_by a {
    font-size: x-large;
}

#bottom_options .dropdown_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    font-size: large;
    align-self: center;
}

.toggle_raw_percent {
    margin: 5px;
}

.toggle_raw_percent span {
    padding-right: 5px;
}
/* ========== result boxes ========== */

#results_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.result_container {
    margin-bottom: 30px;
    width: 60%;
    height: 70%;
}

.result_row_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.result_row_1 .name {
    font-weight: bold;
    font-size: large;
}

.toggle_raw_percent {
    align-self: flex-end;
    display: flex;
    height: 30px;
}

.toggle_raw_percent label {
    margin-right: 5px;
}

.result_row_2 {
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.result_row_2 img {
    margin: 10px;
}

.result_row_2 .trend {
    height: 80%;
}

.result_row_2 .change_value {
    font-size: 50px;
    font-weight: bold;
}


.year_data .data {
    font-weight: bold;
}

.data_num.uncheck div {
    display: block;
    visibility: visible;
}

.data_num.check div {
    display: none;
    visibility: hidden;
}

.data_percent.uncheck div {
    display: none;
    visibility: hidden;
}

.data_percent.check div {
    display: block;
    visibility: visible;
}




.TopButton{
    font-size: 50px;
    display: block;
    margin-right: 50px;
    position: sticky;
    bottom: 10px;
    text-align: end;
    padding-bottom: 10px;
}
/* css animations for submit button*/
.region_select {
    padding: 20px;
    position: flex;
    border-bottom: 3px solid grey;
}
#search_bar {
    width: 230px ;
}
#submit_btn {
    width: 100px;
    background-color:rgb(5, 201, 5);
    align-self: flex-start;
    border-radius: 10px;
}

#submit_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#submit_btn:hover {
    background-color:rgb(1, 114, 1);
}
#submit_btn span:after {
    content: '\00bb';
    position: absolute;
    right: -30px;
    opacity:0;
    transition:0.5s;
}
#submit_btn:hover span:after {
    opacity: 1;
    right:0px;
}
#submit_btn:hover span {
    color:white;
    padding-right:20px;
    opacity: 1;
    right:0px;
}
