.main_section {
    padding: 0 200px;
}

#main_section_top {
    border-bottom: solid #d9d9d9;
}

#top_options {
    padding: 30px 0px 5px;
    display: flex;
    justify-content: space-between;
}

#top_options .options {
    align-self: flex-end;
    width: 250px;
}

#top_options .dropdown_container {
    display: flex;
    justify-content: space-between;
}

#bottom_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 120px;
}

.display_current {
    pointer-events: none;
    color: #518CFF
}

.display_other {
    color: black;
    text-decoration:none;
}

.display_other:hover {
    color: #518CFF;
    text-decoration: underline;
    font-weight: bold;
}

#bottom_options #display_by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

#bottom_options #sort_options {
    margin-left: 10px;
}

#display_by a {
    font-size: x-large;
}

#bottom_options .dropdown_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button[type="submit"] {
    width: 200px;
    height: 50px;
    font-size: large;
    align-self: center;
}

.toggle_raw_percent {
    margin: 5px;
}

.toggle_raw_percent span {
    padding-right: 5px;
}
/* ========== result boxes ========== */

#results_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.result_container {
    margin-bottom: 30px;
    width: 60%;
    height: 70%;
}

.result_row_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.result_row_1 .name {
    font-weight: bold;
    font-size: large;
}

.toggle_raw_percent {
    align-self: flex-end;
    display: flex;
    height: 30px;
}

.toggle_raw_percent label {
    margin-right: 5px;
}

.result_row_2 {
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.result_row_2 img {
    margin: 10px;
}

.result_row_2 .trend {
    height: 80%;
}

.result_row_2 .change_value {
    font-size: 50px;
    font-weight: bold;
}


.year_data .data {
    font-weight: bold;
}

.data_num.uncheck div {
    display: block;
    visibility: visible;
}

.data_num.check div {
    display: none;
    visibility: hidden;
}

.data_percent.uncheck div {
    display: none;
    visibility: hidden;
}

.data_percent.check div {
    display: block;
    visibility: visible;
}

#selected {
    border-radius: 20px;
    background: rgb(114, 114, 114);
    padding: 10px;
    text-decoration:none;
    color: black;
}
.select1or2 {
    text-decoration: none;
    color: grey;
    padding: 10px;
}
.select1or2:hover {
    border-radius: 20px;
    background: rgb(221, 221, 221);
    padding: 10px;
    text-decoration:none;
    color: black;
}


.TopButton{
   
    font-size: 50px;
    
}

.BackToTop{
    position: fixed;
    bottom: 200px;
    right: 300px;
   
    
}