/* ==========header=========== */
.fixed {
    background-color: #fff;
  position: sticky;
  top: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .home {
  display: flex;
  align-items: center;
}

header img {
  width: 150px;
}

.home a:last-child {
  text-decoration: none;
  font-size: 2.3rem;
  padding-left: 15px;
}

nav a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(50, 88, 184);
  padding: 9px;
}

/* ========main========== */
main h1 {
  text-align: center;
}

/* =========about us========= */
.aboutus {
  padding: 25px;
}
.vision,
.mission,
.source {
  width: 40%;
  text-align: justify;
}

.vision p:last-child {
  margin-left: 30px;
}

.mission {
  position: relative;
  left: 59%;
}

.mission p:first-child {
  position: relative;
  left: 70%;
}

.aboutus a {
  display: block;
  margin-left: 30px;
}

/* =======footer========= */
footer {
  background-color: rgb(113, 126, 240);
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 150px;
}

footer .link {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.link a {
  width: 30%;
}
