/* =========common========== */
a {
  text-decoration: none;
  margin-right: 30px;
}

.fixed {
  background-color: #fff;
  position: sticky;
  top: 0px;
}

/* ==========header=========== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .home {
  display: flex;
  align-items: center;
}

header img {
  width: 150px;
}

.home a:last-child {
  font-size: 2.3rem;
  position: relative;
  right: 15px;
}

nav a:last-child {
  color: white;
  background-color: rgb(50, 88, 184);
  padding: 9px;
}
nav a:nth-child(2) {
  margin-right: 21px;
}

/* ==========main========== */
/* =========tem========== */
main h1 {
  text-align: center;
}

.temperature .info {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.temperature p {
  font-size: 20px;
  text-align: right;
  margin: 0;
}

.temperature h2 {
  font-size: 4.5rem;
  margin: 0;
}

.temperature img {
  height: 150px;
}

.temperature h3 {
  margin: 0;
  font-size: 25px;
  margin-bottom: 20px;
}

.stats p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.temperature {
  position: relative;
  padding: 25px;
}

.temperature .years {
  position: relative;
  margin-top: 20px;
  left: 40px;
}

/* ========option======== */
.option {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option img {
  width: 200px;
  padding-right: 50px;
}

.option .content {
  width: 350px;
}

.option h3 {
  font-size: 30px;
  margin: 0;
}

.option p {
  position: relative;
  top: -10px;
}

.option a {
  color: white;
  background-color: rgb(50, 88, 184);
  padding: 9px;
}

/* ========population========= */
.population .info {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.population p {
  font-size: 20px;
  text-align: right;
  margin: 0;
}

.population h2 {
  font-size: 4.5rem;
  margin: 0;
}

.population img {
  height: 150px;
}

.population h3 {
  margin: 0;
  font-size: 25px;
  margin-bottom: 20px;
}

.stats p {
  font-size: 25px;
}

.population .stats p:last-child {
  font-size: 20px;
}

.population {
  position: relative;
  padding: 25px;
}

.population .years {
  position: relative;
  margin-top: 20px;
  left: 40px;
}

/* =======footer========= */
footer {
  background-color: rgb(113, 126, 240);
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 150px;
}

footer .link {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.link a {
  width: 30%;
}
